<div class="container", style="margin-top:100px">
  <div class="row">
    <% @tasks.each_slice(4) do |row|  %>
      <% row.each do |task|  %>
        <div class="col">
          <div class='card'>
					   <%= image_tag task.photo, class: 'img-fluid' %>
							<div class='body'>
								<h5><%= task.title %></h5>
								<p><%= task.description %></p>
								<%= link_to 'Completar', task_orders_path(task), class: 'btn btn-success', method: :post%>
								</div>
							</div>
          </div>   
      <% end %>
    	<div class="w-100"></div>
    <% end%>
    </div>
</div> 