<div class='col-md-6 mt-5'>
   <div class='card text-white border-primary', style='margin-top:100px'>
     <%= image_tag @task.photo, class:'card-img-top' %>
     <div class='body text-center'>
       <%= @task.title %>
       <br>
       <%=@task.description %>
     </div>
   </div>
 </div>